/* src/components/Experience.css */

.experience {
    background-color: rgba(28, 28, 28, 0.8); /* Semi-transparent background */
    color: #fff;
    padding: 90px 0;
    backdrop-filter: blur(1px); /* Optional blurred background effect */
    margin-bottom: 50px; /* Add space below the Experience section */
}

.experience .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}

.experience-content {
    flex: 0 0 60%; /* Adjust as needed */
}

.experience h2 {
    font-size: 2.2em;
    margin-bottom: 20px;
}

.experience-item h3 {
    font-size: 1.6em;
    margin-bottom: 5px;
}

.experience-item p {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.experience-item ul {
    list-style-type: none;
    padding: 0;
}

.experience-item ul li {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 10px;
    position: relative;
}

.experience-item ul li:before {
    content: '•';
    position: absolute;
    left: -20px;
    color: #4CAF50; /* Neon green bullet points */
}

.experience-abstract {
    /* flex: 0 0 30%; */
    display: flex;
    flex-direction: row;
    /* align-items: end; */
    justify-content: center;
    /* margin-bottom: 75px; */
    /* margin-right: 0; */

}

.abstract-icon {
    max-width: 100px; /* Adjust size as needed */
    margin-bottom: 15px;
}

.experience-abstract p {
    font-size: 1em;
    text-align: center;
    color: #4CAF50; /* Neon green text for emphasis */
}

/* Responsive Design */
@media (max-width: 768px) {
    .experience .container {
        flex-direction: column;
        text-align: center;
    }

    .experience-content, .experience-abstract {
        flex: none;
        width: 100%;
        margin-bottom: 20px;
    }
}
