.App {
  background-image: url('./assets/blockchain-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%; /* Ensure it covers the full view height */
}

p {
  margin: 0px
}

p.indent {
  text-indent: 30px;
}

.container {
  margin: 50px
}